@font-face {
  font-family:"Game Of Thrones";
  src: local("Game of Thrones"), url("fonts/GameOfThrones.ttf") format('truetype');
}
@font-face {
  font-family:"OldLondon";
  src: local("OldLondon"), url("fonts/OldLondon.ttf") format('truetype');
}
@font-face {
  font-family:"Viking";
  src: local("Viking"), url("fonts/Viking.ttf") format('truetype');
}

html, body {
  margin: 0px;
  padding: 0px;
}

body{
    background-image: url("../images/fondoMapaNegro.jpg");
    background-repeat: repeat;
}

.visible {
  display: visible;
}

.oculto {
  display: none;
}

.navFont {
  font-family: "Game Of Thrones";
  font-size: 1.5vw;
}

@media only screen and (max-width: 575px) {
  .navFont {
    font-family: "Game Of Thrones";
    font-size: 1.5vw;
  }
}

.barNavlink{
  border-radius: 15%;
  border: 4px solid grey;
}

.logoNav{
  width: 250px;
}

/*------------------------------------------------*/
/*  *INDEX */
/*------------------------------------------------*/

.transpNotice{
  background: rgba(251, 251, 251, 0.78);
  border-radius: .25rem;
 }

 .transpImg{
   background: none;
 }

 @media only screen and (max-width: 756px) {
    .transpImg{
      background: rgba(251, 251, 251, 0.78);
     }

     .transpNotice{
       border-bottom-left-radius: 0px;
       border-bottom-right-radius: 0px;
      }
 }

/*------------------------------------------------*/
/* CASAS  */
/*------------------------------------------------*/

.casasPrincConteiner{
  background-color:#a38f73;
}

.titFont{
	font-family:"Game Of Thrones";
}
.listFont{
	font-family:"OldLondon";
}

.transparencia{
  background: rgba(251, 251, 251, 0.38);
}

.bg-casas{
  background-color:#C6B59D;
}

.borde {
  border: 5px solid rgb(89, 88, 88);
}

/*------------------------------------------------*/
/* MAPA */
/*------------------------------------------------*/

/* Estilo para div contenedor de la imagen chica */
.contenedorMapa{
  text-align: center;
  width: 46.4%;
  margin: 0px auto;
}
/* Estilo para div contenedor de la imagen grande */
.contenedorMapaZoom{
  text-align: center;
  width: 120%;
  margin: 0px auto;
}
/* Estilo para imagen chica */
.mapaComun{
  text-align: center;
  width: 100%;
  cursor: url("images/zoom-in.cur"), pointer;
}
/* Estilo para imagen grande */
.mapaZoom{
  text-align: center;
  width: 100%;
  cursor: url("images/zoom-out.cur"), pointer;
}

/*------------------------------------------------*/
/* TEMPORADAS */
/*------------------------------------------------*/

.tablaTemporadas, th, td {
  font-size: 17px;
  text-align:center;
  margin: 0px auto;
  border: 1px solid black;
  padding: 3px;
}

.tablaTemporadas{
  width: 90%;
}

.tablaTemporadas p{
  text-align:justify;
}

.contenidoTemporadasEpisodios {
  clear: both;
  padding: 30px;
  margin: 0px auto;
}

.fondoTd {
  background: rgba(222, 209, 147, 0.85);
  font-weight: bold;
}

.fondoTh {
  background-color: grey;
  font-weight: bold;
}

.colE5{
  width: 5%;
}

.colE10{
  width: 10%;
}

.colE40{
  width: 40%;
}

.episodioImg{
  width:100%;
  max-width:200px;
  border: 4px solid rgb(170, 160, 117);
}
.contenidoImg{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.clearfix{
  clear: both;
}

/*------------------------------------------------*/
/* PIE */
/*------------------------------------------------*/

.textContainerFooter p{
  margin: 0px;
}
.textContainerFooter ul{
  padding: 0;
  list-style-type: none;
}

.textContainerFooter ul li {
  display: inline-block;
  border-right: 1px solid rgb(181, 181, 181);
  padding-right: 5px;
}

.textContainerFooter ul li:last-child {
  border-right: none;
}

.textContainerFooter ul li a {
  color: rgb(181, 181, 181);
  text-decoration: none;
}

/*********************************/

.errorForm{
  color:red;
  font-weight: bold;
}

.titulo {
  color: white;
  text-align: center;
  margin-top: 10px;
}
