@font-face {
  font-family:"Game Of Thrones";
  src: local("Game of Thrones"), url("fonts/GameOfThrones.ttf") format('truetype');
}
@font-face {
  font-family:"OldLondon";
  src: local("OldLondon"), url("fonts/OldLondon.ttf") format('truetype');
}
@font-face {
  font-family:"Viking";
  src: local("Viking"), url("fonts/Viking.ttf") format('truetype');
}
html, body {
  margin: 0px;
  padding: 0px;
}
body{
    background-image: url("../images/fondoMapaNegro.jpg");
    background-repeat: repeat;
}
.header {
  background-color: black;
  border-bottom: 2px solid rgb(50, 50, 50);
  height: 110px;
}
.logo {
  color: white;
  display: inline-block;
  width: 20%;
  height: 110px;
  text-align:center;
  background-color: black;
}
.logo a img{
  height: 110px;
  width: 90%;
}
.barraNavegacion{
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  width: 79.6%;
  height: 110px;
}
.barraNavegacion ul {
  text-align:center;
  width: 80%;
  padding: 0px;
  margin: 2.5% auto;
}
.barraNavegacion ul li {
  display: inline-block;
  padding: 15px 50px;
}
.barraNavegacion ul li a{
  color: white;
  text-decoration: none;
  font-family:"Game Of Thrones";
  padding: 6px;
  font-size: 18px;
  border-radius: 15%;
  border: 4px solid grey;
}

.login{
  display: inline-block;
}
/*------------------------------------------------*/

/*  *INDEX */

/*------------------------------------------------*/
.content{
  width: 70%;
  margin: 0px auto;
  padding: 30px;
}
.noticeContainer {
  width: 75%;
  margin: 0px auto;
  margin-bottom: 5px;
}
.notice {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
  background-color:rgba(255, 255, 255, 0.8);
  margin: 4px;
  box-sizing: border-box;
  border-radius: 4%;
  border: 2px solid rgb(50, 50, 50);
  padding: 8px;
}
.notice h1 {
  text-decoration: none;
  color:rgb(63, 70, 69);
  font-weight: bold;
  font-size: 22px;
  margin: 4px;
}
.notice p {
  text-decoration: none;
  text-align:justify;
  font-size: 18px;
  padding: 4px;
}
.imageContainer {
  display: inline-block;
  vertical-align: middle;
  width: 41%;
  margin: 3px;
  text-align: center;
}
.imageContainer img {
  width: 97%;
  margin: 3px;
  border-radius: 4%;
  border: 1px solid rgb(50, 50, 50);
}
/*------------------------------------------------*/

/* CASAS HOME */

/*------------------------------------------------*/
.casasPrincConteiner, .divCasas, .casaLogo {
  margin: 0px auto;
}

.casasPrincConteiner{
  background-color:#a38f73;
}
.logoMiddleCasas{
  font-family:"Game Of Thrones";
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  padding: 7px;
}
.divCasas{
  width: 70%;
  padding: 10px;
  text-align: center;
}
.casaLogo{
  display: inline-block;
  width: 25%;
}
.casaLogo p {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin: 0px auto;
}
.casaLogo img {
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid rgb(89, 88, 88);
  width: 75%;
  margin-top: 3%;
}
/*------------------------------------------------*/

/* CASAS  PAGINAS */

/*------------------------------------------------*/
.casasContainer{
  background-color: #F2E6D5;
}

.textContainer, .listContainer {
  margin: 0 auto;
  text-align: center;
}
.textContainer{
  width: 60%;
}

.textContainer h1{
  font-family:"Game Of Thrones";
  margin: 0 auto;
  padding: 15px;
}
.textoCasas{
  font-size: 20px;
  text-align: justify;
  line-height: 1.5em;
  padding-left: 55px;
  padding-right: 55px;
}
.listContainer {
  width: 60%;
  font-size: 28px;
  font-family:"OldLondon";
}
.listContainer ul{
  display: inline-block;
  font-family:"Viking";
  list-style-image: url('images/Cuervo.svg');
}
.listContainer li{
  font-style: oblique;
  text-align: left;
  font-size: 22px;
}
/*------------------------------------------------*/

/* MAPA */

/*------------------------------------------------*/
/* Estilo para div contenedor de la imagen chica */
.contenedorMapa{
  width: 756px;
  height: 488px;
  padding: 7%;
  margin: 0px auto;
}
/* Estilo para div contenedor de la imagen grande */
.contenedorMapaZoom{
  width: 1345px;
  height: 855px;
  margin: 0px auto;
}
/* Estilo para imagen chica */
.mapaComun{
  text-align: center;
  width: 756px;
  height: 480px;
  cursor: url("images/zoom-in.cur"), pointer;
}
/* Estilo para imagen grande */
.mapaZoom{
  text-align: center;
  width: 1345px;
  height: 855px;
  cursor: url("images/zoom-out.cur"), pointer;
}
/*------------------------------------------------*/

/* FORMULARIO */

/*------------------------------------------------*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
.formContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 20px;
  background-color:#a38f73;
}

.formLayout {
  height: 728px;
}
/*------------------------------------------------*/

/* TEMPORADAS */

/*------------------------------------------------*/
.tablaTemporadas, th, td {
  font-size: 17px;
  text-align:center;
  margin: 0px auto;
  border: 1px solid black;
  padding: 3px;
}
.tablaTemporadas{
  /* width: 100%; */
  /* width:auto; */
  width: 70%;
}
.tablaTemporadas p{
  text-align:justify;
}
.contenidoTemporadasEpisodios {
  clear: both;
  padding: 30px;
  margin: 0px auto;
  background-color:#a38f73;
}
.fondoTd {
  background-color: #DED193;
  font-weight: bold;
}
.fondoTh {
  background-color: grey;
  font-weight: bold;
}
/*------------------------------------------------*/

/* PIE */

/*------------------------------------------------*/
.pie {
  background-color: rgb(64, 63, 63);
}
.textContainerFooter {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 80px;
  padding-left: 10px;
  color: white;
}
.textContainerFooter p{
  margin: 0px;
}
.textContainerFooter ul li {
  display: inline-block;
  border-right: 1px solid rgb(181, 181, 181);
  padding-right: 5px;
}
.textContainerFooter ul li:last-child {
  border-right: none;
}
.textContainerFooter ul li a {
  color: rgb(181, 181, 181);
  text-decoration: none;
}
.logoFooter {
  display: inline-block;
  width: 48%;
  height: 80px;
}
.logoFooter img {
  height: 30px;
  margin-top: 30px;
  margin-left: 360px;
}
